.header {
    width: 100%;
    position: relative;
    display: flex;
    min-height: 60px;
    height: 10%;
    max-height: 70px;
    background-color: black;
    padding: $main-spacing * 0.5;
    justify-content: space-between;

    .logo {
        margin-left: $main-spacing * 0.2;
        letter-spacing: $main-spacing * 0.2;
        color: #111;
        font-size: $base-font-size * 1.4;

        @media screen and (min-width: map-get($breakpoins, md)) {
            font-size: $base-font-size * 1.6;
            margin-left: $main-spacing*2;
            margin-top: $main-spacing;
        }

        @media screen and (min-width: map-get($breakpoins, lg)) {
            font-size: $base-font-size * 1.8;
        }

        @media screen and (min-width: map-get($breakpoins, xl)) {
            font-size: $base-font-size * 2;
        }

        .logo__letter {
            display: table-cell;
            animation: neon 10s linear infinite;

            text-shadow: 4px 4px 10px $additives-color;
            color: rgb(49, 130, 252);
            text-shadow: 1px 1px 10px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0),
                0 0 80px 10px rgb(255, 0, 0), 0 0 120px 20px rgb(255, 0, 0),
                0 0 160px rgb(49, 130, 252), 0 0 250px rgb(49, 130, 252),
                0 0 320px rgb(49, 130, 252), 0 0 400px rgb(49, 130, 252);


        }

        .logo__letter:nth-child(1) {
            animation-delay: 0s;
        }

        .logo__letter:nth-child(2) {
            animation-delay: 0.25s;
        }

        .logo__letter:nth-child(3) {
            animation-delay: 0.5s;
        }

        .logo__letter:nth-child(4) {
            animation-delay: 0.75s;
        }

        .logo__letter:nth-child(5) {
            animation-delay: 1s;
        }

        .logo__letter:nth-child(6) {
            animation-delay: 1.25s;
        }

        .logo__letter:nth-child(7) {
            animation-delay: 1.5s;
        }

        .logo__letter:nth-child(8) {
            animation-delay: 1.6s;
            padding-left: $main-spacing*.8;
        }

        @keyframes neon {

            0% {


                opacity: 0;

            }

            5% {
                opacity: 1;
            }

            45% {
                opacity: 1;
            }

            70% {

                opacity: 0;
            }

            80% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }


        }
    }

}