.swiper-container {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;

  .parallax-bg {
    position: absolute;
    background-image: url("../img/mobileProjects_460-751.jpg");
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media screen and (min-width: map-get($breakpoins, sm)) {
      background-image: url("../img/mobileProjects_800-859.jpg");
    }

    @media screen and (min-width: map-get($breakpoins, lg)) {
      background-image: url("../img/desktopProjects_1280-609.jpg");
    }

    @media screen and (min-width: map-get($breakpoins, xl)) {
      background-image: url("../img/desktopProjects_1980-940.jpg");
    }
  }
  .swiper-wrapper {
    position: relative;
    display: flex;

    .swiper-slide {
      width: 100%;
      height: 100%;
      font-size: 18px;
      color: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px 20px;
    }
  }
}
